.app-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

#toolbar {
  .v-toolbar__content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .app-container {
    height: 100%;
  }
}
